@{
    @model ProductViewModel 
    ViewData["Title"] = $"Product";
}

<div class="card" style="width: 18rem">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="list-group-item"> Product Name: @Model.Name </div>
    <div class="list-group-item"> Price: @Model.Price </div>
</div>
